extends layout
block content
  h3.heading #[strong #{title}]
  dl
    for category in categories
      h2
        a(href=category.url) #[strong #{category.categoryName}]
          if category.categoryImage.data!=undefined
            p
              img.category-list(src='data:image/jpg;base64,' + category.categoryImage.data.toString('base64')) 
      //- dd #{category.categoryDescription}
      hr
