extends layout
block content
  h3.heading #[strong #{title}]
  dl
    for category in categories
      dt 
        a(href=category.url) #{category.categoryName}
      if category.categoryImage.data!=undefined
        img(src='data:image/jpg;base64,' + category.categoryImage.data.toString('base64')) 
      //- dd #{category.categoryDescription}
      hr
