extends layout
block content 
  div.heading
    h3 #[strong #{title}]
  div.list-container
    for category in categories
      div.list
        a(href=category.url) #[h2 #{category.categoryName.toUpperCase()}]
          if category.categoryImage.data!=undefined
            img.category-list(src='data:image/jpg;base64,' + category.categoryImage.data.toString('base64')) 
      //- dd #{category.categoryDescription}
      hr
