extends layout
block content
  div.heading
    h3 #[strong #{title}]
  div.list-container
    for item in items
      div.list
        a(href=item.url) #[h2 #{item.itemName.toUpperCase()}]     
          if item.itemImage.data!=undefined
            img.item-list(src='data:image/jpg;base64,'+item.itemImage.data.toString('base64'))
    hr  