extends layout
block content
  h3.heading #{title}
  dl
    for item in items
      dt
        a(href=item.url) #{item.itemName}    
      //- dd 
      //-   img(src=item.itemImage, alt="")
      hr  