doctype html
html(lang='en')
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href="/stylesheets/style.css")
  body
    div(class='container-fluid')
      div(class='row')
        div(class='navigation-1')
          div.nav-link
            a(href='/catalog') Home
          div.nav-link
            a(href='/catalog/categories') All categories
          div.nav-link
            a(href='/catalog/items' All items) All items
            
        div.navigation-2
          div.nav-link
            a(href='/catalog/category/create') Add new category
          div.nav-link 
            a(href='/catalog/item/create') Add new item
      div(class='content')
        block content
