body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

textarea {
  height: 25vh;
}

.heading {
  text-decoration: underline;
  margin-bottom: 5vh;
}

button {
  margin-bottom: 3vh;
}

.category-list,
.category-detail-item-list {
  max-width: 70vh;
  height: auto;
}

.category-delete,
.category-form,
.item-delete,
.item-form {
  max-width: 60vh;
  height: auto;
}

ol {
  font-size: x-large;
}

span {
  margin: 10px 20px 40px 0px;
}
